@model IEnumerable<AspNetCore.Mvc.Models.EnderecoModel>

<h3>@ViewData["Title"]</h3>


<form asp-action="Index">
    <div class="form-horizontal">
        @Html.ActionLink("Novo Registro", "Create", "Endereco")
        <hr />

        <div class="x_content">
            <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead>
                    <tr>
                <th>
                    Ações
                </th>
                <th>
                    Endereco Id
                </th>
                <th>
                    Logradouro
                </th>

                </tr>
                </thead>
                <tbody>
                    @Html.AntiForgeryToken()

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Editar", "Edit", "Produto", new { @id = item.EnderecoId })

                                @Html.ActionLink("Deletar", "Delete", "Produto", new { @id = item.EnderecoId })
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.EnderecoId)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Logradouro)
                            </td>

                        </tr>
                    }

                </tbody>

            </table>
        </div>

    </div>

</form>